/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap'); */

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
}

.person-name{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400px;
    font-size: 100px;
}

.search{
    margin: auto;
}

.google-search {
    border-radius: 10px;
    background-color: #edf3f1;
    color: rgb(0, 0, 0);
    
}

.button {
    border-radius: 10px;
    color: rgb(240, 240, 240);
    background-color: #01583b;
}

#time-div{
    width: 700px;
    height: 200px;
}

#time {
    display: flex;
    gap: 70px;
    /* color: rgb(6, 111, 202); */
    
}

#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: rgb(40, 41, 40);
    stroke-width: 5px;
    transform: translate(5px, 5px);

}


#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;

}


#time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 2 em;
}

#time div span {
    position: relative;
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

#time .ap {
    position: relative;
    font: 1em;
    transform: translateX(-20px);
}


.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.dots::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr) ;


}